body {
    font-family:  sans-serif;
    background-color: white;
}

/*HEADER*/
.topo{
    height: 50px;
    display: flex;
    background: #f8f8f8;
    box-shadow: 2px 10px 40px -15px rgb(0 0 0 / 25%);
    align-items: center;
}

h3 {
    margin: 0 auto;
    font-weight: bolder;
}

/****************/

/*BOTOES CATEGORIAS*/
.botoesSuperior{
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin-top: 1em;
}

.containerBuscaPorNome{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.campoBuscaPorNome{
    padding: 10px;
    border-radius: 5px;
    width: 14em;
}

.estiloGeralBotoes--mostrarTodos{
    background-color: #12B886;
    color: #f8f8f8;
}
.estiloGeralBotoes{ 
    margin: 5px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.9rem;
}

.estiloGeralBotoes:hover{
    color: white;
    background-color: #12B886;
    transition: 0.5s;
}
.estiloGeralBotoes--botaoBuscaPorNome{
    background-color: #12B886;
    color: #f8f8f8;
    width: 4em;
    height: 30px;
}
/***********************/



ul {/* MINHA LISTA DOS CARDS*/
    height: 290px;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

#listProdutos  li{
    height: 263px;
}

.listaNutrientes{
    
}
.containerListaProdutos ul li {
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    transition: ease-in-out .2s;
}

li{
    margin: 5px;
    width: 70%;
    height: 290px;
}


li h3{
    margin: 0;
    margin-top: 4px;
}

li p{
    margin-top: 4px;
    font-size: 0.7em;
}

li span{
    margin-top: 4px;
}
.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
    cursor: pointer;
}

.botaocarrinho{
    margin-top: 10px;
    color: black;
    background-color: rgba(18, 184, 134, 0.05);
    border-style: none;
    color: #12B886;
    padding: 8px;
    border-radius: 5px;
}

.botaocarrinho:hover{
    color: white;
    background-color: #12B886;
    transition: 0.5s;
    cursor: pointer;
}
/************************************/



/* CARRINHO*/

.carrinhoPrincipal{
    
    border-radius: 10px;
    overflow:auto;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}
.parteCimaCarrinho p{
    display: flex;
    justify-content: space-evenly;
}
.parteCimaCarrinho{
    border: solid 1px;
    border-radius: 10px;
    background-color: #12B886;
    padding: 15px;
    color: white;
    text-align: center;
}

.corpoCarrinho > ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.corpoCarrinho > ul img{
    width: 80%;
    height: 100px;
}

.corpoCarrinho > ul li {
    display: flex;
    height: 100px;
    justify-items: center;
    align-items: center;
    
}
.ulCarrinho {
    height: 150px;
}

.ulCarrinho li{
    
    margin-left: 20px;
}
.ulCarrinho li img{
    width: 110px;
    height: 100px;
    border-radius: 5px;
    
}

.ulCarrinho li button{
    width: 50px;
    margin-left: 20px;
}

.divCarrinho{
    margin-left: 15px;
}

.divQuantidadeTotal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*BREAKPOINTS*/

@media (min-width: 768px){
    .botoesSuperior{
        display: flex;
        margin-top: 2em;
    }

    .campoBuscaPorNome{
        padding: 10px;
        border-radius: 5px;
        width: 14em;
    }

    .filtersContainer{
        display: flex;
        justify-content: space-around;
    }

    .campoBuscaPorNome{
        padding: 10px;
        border-radius: 5px;
        width: 8em;
        height: 15px;
    }

    ul {/* MINHA LISTA DOS CARDS*/
        padding: 20px;
        margin-top: 1em;
        display: flex;
        width: 90%;
        height: 100%;
        margin-left: 90px;
        flex-wrap: wrap;
        margin-top: 20px;
        
    }

    li{
        
        
        width: 210px;
        margin: 10px;
        padding: 20px;
        
    }
    li > img{
        width: 100%;
    }

    .containerListaProdutos{
      
        display: flex;
        justify-content: center;
        

    }
    main{
        display: flex;
    }

    /*Carrinho*/
   

    .carrinhoPrincipal{
        position: absolute;
        right: 250px;
        margin-top: 2em;
        width: 300px;
        height: 40%;
        border-radius: 10px;
        border-style: none;
        overflow:visible;
        
    }
    .parteCimaCarrinho{

        border-radius: 10px;
        background-color: #12B886;
        padding: 15px;
        color: white;
        text-align: center;
    }
    .corpoCarrinho{
        height: 100%;
        width: auto;
        
    }
    .corpoCarrinho ul{
        display: flex;
        padding: 0;
        margin: 0 auto;
        flex-wrap:nowrap;
        height: 100%;
        
    }
    .corpoCarrinho li{
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
        
    }
    .ulCarrinho li button{
        width: 50px;
        margin-left: 10px;
    }
}

