body {
    font-family:  sans-serif;
    background-color: white;
}


.topo{
    height: 50px;
    display: flex;
    background: #f8f8f8;
    box-shadow: 2px 10px 40px -15px rgb(0 0 0 / 25%);
    align-items: center;
}

h3 {
    margin: 0 auto;
    font-weight: bolder;
}


.filtersContainer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    margin-right: 50px;
}


.estiloGeralBotoes{
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
    color: #12B886;
    background-color: rgba(18, 184, 134, 0.05);
}

.estiloGeralBotoes {
    margin-left: 20px;
}

.estiloGeralBotoes:hover{
    color: white;
    background-color: #12B886;
    transition: 0.5s;
}

.estiloGeralBotoes--filtrarHortifruti,.estiloGeralBotoes--filtrarPanificadora,.estiloGeralBotoes--filtrarLaticínios {
    background-color: rgba(18, 184, 134, 0.05);
    color: #12B886;
}


.containerBuscaPorNome {
    margin-left: 500px;
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border-radius: 5px ;
    border: 1px solid black;
    padding: 0 10px;
    background-color: #F1F3F5;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    background-color: #12B886;
    color: white;
    border-radius: 5px ;
}


/* CONTEÚDO */

li {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

li > h5{
    margin-top: 10px;
}

li span{
    color:gray;
    font-weight: 600;
}
.botaocarrinho{
    margin-top: 10px;
    color: black;
    background-color: rgba(18, 184, 134, 0.05);
    border-style: none;
    color: #12B886;
    padding: 8px;
    border-radius: 5px;
}

.botaocarrinho:hover{
    color: white;
    background-color: #12B886;
    transition: 0.5s;
    cursor: pointer;
}

.containerListaProdutos {
    display: flex;
    justify-content:space-between;
    margin-left: 100px;
}

.containerListaProdutos ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerListaProdutos ul li {
    color: black;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    transition: ease-in-out .2s;
}

.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}


.containerListaProdutos ul li{
    width: 100%;
    max-width: 500px;
}

img{
    width:230px ;
}

.containerListaProdutos ul li h3 {
    
    font-size: 1.5rem;
}

.containerListaProdutos ul li p {
    margin-top: 5px;
    font-size: 1.5rem;
}
.containerListaProdutos ul li span {
    
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
   
}



/*carrinho*/
main{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
}

.carrinhoPrincipal{
    width: 400px;
    background-color:#F1F3F5;
    margin-right: 50px;
}

.parteCimaCarrinho{
    background-color: #12B886;
    height: 40px;
    color: #F1F3F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpoCarrinho{
    background-color: yellow;
}