body {
    font-family:  sans-serif;
    background-color: white;
}
main{
    margin-top: 20px;
    display: flex;    
    margin-left: 40px;
}
/*HEADER*/
.topo{
    height: 50px;
    display: flex;
    background: #f8f8f8;
    box-shadow: 2px 10px 40px -15px rgb(0 0 0 / 25%);
    align-items: center;
}
/****************/



h3 {
    margin: 0 auto;
    font-weight: bolder;
}


.filtersContainer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    margin-right: 50px;
}

.estiloGeralBotoes{ /* FALTA ESTILIZAR BOTOES PARTE DE CIMA*/
    margin-left: 30px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 0.9rem;
}

.estiloGeralBotoes:hover{
    color: white;
    background-color: #12B886;
    transition: 0.5s;
}

.campoBuscaPorNome{
    padding: 10px;
    border-radius: 5px;
}



ul {/* MINHA LISTA DOS CARDS*/
    
    display: flex;
    width: 1800px;
    flex-wrap: wrap;
    
}
.containerListaProdutos ul li {
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    transition: ease-in-out .2s;
}

li{
    margin: 10px;
    height: 400px;
    width: 400px;
}


li h3{
    margin: 0;
    margin-top: 8px;
}

li p{
    margin-top: 8px;
}

li span{
    margin-top: 8px;
}
.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
    cursor: pointer;
}




.botaocarrinho{/*MEU BOTAO CARRINHO ESTILIZADO*/
    margin-top: 10px;
    color: black;
    background-color: rgba(18, 184, 134, 0.05);
    border-style: none;
    color: #12B886;
    padding: 8px;
    border-radius: 5px;
}

.botaocarrinho:hover{
    color: white;
    background-color: #12B886;
    transition: 0.5s;
    cursor: pointer;
}

/* CARRINHO*/

.carrinhoPrincipal{
    position: absolute;
    right: 50px;
    width: 400px;
    height: 350px;
    background-color: rgba(18, 184, 134, 0.05);
    border-radius: 10px;
    border: solid 1px;
    overflow:auto;
}
.parteCimaCarrinho{
    border: solid 1px;
    border-radius: 10px;
    background-color: #12B886;
    padding: 15px;
    color: white;
    text-align: center;
}
